* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0a0a0a;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.container {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff;
}

.card {
  margin-top: 10px;
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(0,255,255,0.1);
}

label {
  display: block;
  margin-top: 15px;
  opacity: 0.85;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background: #111;
  color: white;
  border: 1px solid #333;
  border-radius: 8px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #00e0ff;
  border: none;
  color: #000;
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #00a9c4;
}

#qrOutput {
  margin-top: 25px;
}
